<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# If request is not a file
RewriteCond %{REQUEST_FILENAME} !-f

# If request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.html
RewriteRule ^ index.html [L]
</IfModule>