<IfModule mod_rewrite.c>
  RewriteEngine On

  # Allow .well-known files
  RewriteRule ^\.well-known/ - [L]

  # React/Vite SPA routing
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_mime.c>
  <Files "apple-app-site-association">
    ForceType application/json
  </Files>

  <Files "assetlinks.json">
    ForceType application/json
  </Files>
</IfModule>