<IfModule mod_rewrite.c>
  RewriteEngine On

  # Allow .well-known files
  RewriteRule ^\.well-known/ - [L]

  # React/Vite SPA routing
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule . /index.html [L]
</IfModule>